<div class="container">
    <form [formGroup]="quoteForm" fxLayoutAlign="stretch" fxLayout="column" class="register-form">

        <h3>Customer Info:</h3>
        <mat-form-field>
            <input matInput formControlName="customer" placeholder="Customer Name" id="customer"
                [(ngModel)]="quoteData.customer" type="text" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="contact" placeholder="Customer Contact Info" id="contact"
                [(ngModel)]="quoteData.contact" type="text" required>
        </mat-form-field>

        <h3>Items:</h3>

        <router-outlet name="cart"></router-outlet>

        <div class="submitButtons">
            <button mat-raised-button type="button" class="btn btn-success" color="primary" (click)="newQuote()">Submit</button>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>