<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{this.currentUser.firstname}} {{this.currentUser.lastname}}</h2>
            <h4>                    
                {{this.priorityRole.title}}
            </h4>
            <img src="/assets/images/{{this.currentUser.image}}.jpg" alt="" onerror="this.onerror=null; this.src='/assets/images/default.jpg'">
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Menu 1</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/#">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/#">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/#">Dashboard</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon> Contacts
    </a>

</mat-nav-list>