h2 {
    font-weight: bold;
    margin-bottom: 8px;
}

h4 {
    margin-bottom: 20px;
}

.profile-card {
    text-align: center;
    padding: 20px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid;
    border-color: #01579B;
}

.list_item {
    padding-left: 8px;
}

footer {
    flex: end;
    display: none;
    padding: 10px;
    background-color: rgb(150, 150, 150);
    color: rgb(238, 238, 238);
}

mat-nav-list {
    padding: 0px;
    height: 100%;
}

@media (max-width: 768px) {
    footer {
        display: block;
    }
}