<mat-toolbar color="primary">

    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-button class="title" routerLink="/#" >QuoteSystem</button>

        <div fxFlex fxLayout="row">
            <ul fxLayout="row">
                <li *ngIf="hasRoleID('Admin')">
                    <button mat-button routerLink="admin">
                        Admin
                    </button>
                </li>
                <li *ngIf="hasRoleID('Associate')">
                    <button mat-button routerLink="associate">
                        Sales
                    </button>
                </li>
                <li *ngIf="hasRoleID('Supervisor')" routerLink="supervisor">
                    <button mat-button>
                        Supervisor
                    </button>
                </li>
            </ul>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                </li>

                <!-- Submenu for person outline-->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLinkActive="list-item-active" (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Sign out
                    </button>
                </mat-menu>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>