.grid {
    display: grid-inline;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding: 10px;
}

.grid-container{
    display: grid;
    grid-column-gap: 8px;
    justify-content: space-around;
}

.row {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

table {
    width: 100%;
    margin: auto;
}

.refresh {
    float: right;
    width: fit-content;
}

.search {
    width: 100%
}

.buttonRow {
    display: table;
}

.buttonCol {
    display: table-cell;
}

.mat-form-field {
    width: auto;
}

.mat-row:not(.mat-no-data-row):hover {
    cursor: pointer;
    background-color: #a4edfc !important;
}