<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="auto" class="card">
        <mat-toolbar color="primary">Login</mat-toolbar>

        <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" id="username" [(ngModel)]="loginUserData.username" type="text"  required>
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </mat-form-field>
    
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" id="password" [(ngModel)]="loginUserData.password" type="password" required>
            </mat-form-field>

            <button mat-raised-button (click)="loginUser()" type="button" class="btn btn-success" color="primary">Login</button>

            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </mat-card>   
</div>         