h3 {
    display: block;
    margin: 0px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

form {
    padding: 20px;
    padding-top: 0px;
}

.form{
    padding: 20px;
}

.content {
    height: auto;
}

.video {
    height: 100%
}

.mat-card {
    height: 100%;
}

@media (max-width: 1279px) {
    .mat-card {
        height: 100%;
    }
}