<div class="content" fxLayoutWrap>
    <!-- Row -->
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <mat-toolbar>Sample Card #1</mat-toolbar>
                <div class="form">
                    <div class="container">

                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <mat-toolbar>Kenny's Card</mat-toolbar>
                <div class="form">
                    <div class="container video">
                        <router-outlet name="video"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>
    </div><br>

    <!-- Row -->
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar>Sample Card #3</mat-toolbar>
                <div class="form">
                    <div class="container">

                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar>Sample Card #4</mat-toolbar>
                <div class="form">
                    <div class="container">

                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar>Sample Card #5</mat-toolbar>
                <div class="form">
                    <div class="container">

                    </div>
                </div>
            </mat-card>
        </div>
    </div><br>

    <!-- Row -->
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="100" class="main-div">
            <mat-card>
                <mat-toolbar>Sample Card #6</mat-toolbar>
                <div class="form">
                    <div class="container">

                    </div>
                </div>
            </mat-card>
        </div>
    </div><br>
</div>