<div class="content" fxLayoutWrap>
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="100" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #1</mat-toolbar>
                <div class="form">
                    This is a sample card
                </div>
            </mat-card>
        </div>
    </div><br>

    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #2</mat-toolbar>
                <div class="form">
                    This is a sample card
                </div>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #3</mat-toolbar>
                <div class="form">
                    This is a sample card <br>
                    with multiple lines
                </div>
            </mat-card>
        </div>
    </div><br>



    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #4</mat-toolbar>
                <div class="form">
                    <div class="container">
                        <img src="./../../../assets/images/piechart.JPG" class="image">
                    </div>                
                </div>
            </mat-card>
        </div>

        <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #5</mat-toolbar>
                <div class="form">
                    <div class="container">
                        <img src="./../../../assets/images/supervisor.png" class="image">
                    </div>     
                </div>
            </mat-card>
        </div>

        <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="main-div">
            <mat-card>
                <mat-toolbar >Admin Card #6</mat-toolbar>
                <div class="form">
                    This is a sample card <br>
                    with multiple lines
                </div>
            </mat-card>
        </div>
    </div><br>
</div>