.mat-card {
    height: 100%;
}

.form {
    padding: 8px;
}

.image {
    display: block;
    max-width: 100%;
    max-height: 100%;  
    left: 0;
    top: 0;
    margin:auto;
}

.image-wrapper {
    position: relative;
    margin: auto;
}

.container {
    padding: 0px;
    padding-top: 16px;
    display: block;
    min-height: 200px;
    align-items: center;
    height: 100%;
    margin: auto;
}

.test {
    margin: 20px;
}

.chart {
    display: block;
    max-width: 100%;
    max-height: 100%;  
    width: 100%;
    height: fit-content;
    left: 0;
    top: 0;
    margin:auto;
}

.chart-wrapper {
    display: grid;
    /* padding: 10px; */
    /* padding-bottom: 30% */
    padding-bottom: 56.25%;
    /* overflow: auto; */
    max-width: 100%;
    max-height: 300px;
    position: relative;
}

.chart-wrapper-large {
    /* display: grid; */
    padding: 10px;
    padding-bottom: 15%;
    /* overflow: auto; */
    max-width: 100%;
    min-width: 450px;
    height: 300px;
    position: relative;
}