<div class="content" fxLayoutWrap>
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Sales Card #1</mat-toolbar>
                    <div class="container">
                        <router-outlet name="quotes"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="container">
                    <mat-toolbar>Create New Quote</mat-toolbar>
                    <div class="container">
                        <router-outlet name="new-quote"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>


        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Quote List</mat-toolbar>
                    <router-outlet name="quotes"></router-outlet>
                </div>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Sales Card #4</mat-toolbar>
                    <router-outlet name="newquotes"></router-outlet>
                </div>
            </mat-card>
        </div>
        <div fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Item List</mat-toolbar>
                    <router-outlet name="items"></router-outlet>
                </div>
            </mat-card>
        </div>

        <div fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Sales Card #4</mat-toolbar>
                    <div class="container">
                        <router-outlet name="users"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>