<div class="content" fxLayoutWrap>
    <div fxLayoutGap="16px grid" fxLayoutWrap fxLayout="row wrap" class="row">
        <!-- New Quotes -->
        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="container">
                    <mat-toolbar>Current Quote</mat-toolbar>
                    <div class="container">
                        <router-outlet name="new-quote"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="container">
                    <mat-toolbar>Currently Open Quotes</mat-toolbar>
                    <div class="container">
                        <router-outlet name="view-quote"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Item List</mat-toolbar>
                    <div class="container">
                        <router-outlet name="items"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>

        <!-- Customers -->
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Legacy Customers</mat-toolbar>
                    <div class="container">
                        <router-outlet name="customers"></router-outlet>
                    </div>
                </div>
            </mat-card>
        </div>

        <!-- Convert Quotes -->
        <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" class="main-div">
            <mat-card>
                <div class="form">
                    <mat-toolbar>Convert to Purchase Order</mat-toolbar>
                    <router-outlet name="prchse-order"></router-outlet>
                </div>
            </mat-card>
        </div>
    </div>
</div>