<div class="row refresh">
    <button mat-icon-button  class="refresh" (click)="loadItems()">                        
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  
  <div>    
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition -->
  
      <!-- Quote ID -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quote ID </th>
        <td mat-cell *matCellDef="let element"> <b> {{element.quoteID}} </b> </td>
      </ng-container>
  
      <!-- Customer Name -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
      </ng-container>

      <!-- Username -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>
