<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field class="search">
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)" [(ngModel)]="searchValue">
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="refresh">
      <button mat-icon-button class="refresh" (click)="loadItems()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Item Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
      <td mat-cell *matCellDef="let element"> <b> {{element.name}} </b> </td>
    </ng-container>

    <!-- Item Price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <!-- Item Description -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>