<div class="purchaseOrder">
    <form [formGroup]="commForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="form-group">
            <mat-form-field>
                <input matInput formControlName="quoteID" placeholder="Quote ID" id="quoteID" [(ngModel)]="orderData.quoteID" type="quoteID" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Purchase Order</button>
        </div>
        
    </form>
</div>
