<div class="container">
    <p *ngIf="Quote.length <= 0" class="no-data text-center"> There are no quotes</p>

    <table class = "table table-bordered" *ngIf="Quote.length > 0">
        <thead class="table-success">
            <tr>
                <th scope="col">Quote ID</th>
                <th scope="col">Username</th>
                <th scope="col">Customer</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Discount</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quote of Quote; let i = index">
                <th scope="row">{{quote._id}}</th>
                <td>{{quote.username}}</td>
                <td>{{quote.customer}}</td>
                <td>{{quote.email}}</td>
                <td>{{quote.status}}</td>
                <td>{{quote.discount}}</td>
                <td class="text-center edit-block">
                    <span class="edit" [routerLink]="['/#/edit-quote/', quote._id]">
                      <button type="button" class="btn btn-success btn-sm">Edit</button>
                    </span>
                    <span class="delete" (click)="removeQuote(quote._id)">
                      <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>