<!-- Welcome card -->
<div>
    <mat-card fxFlex="fxFlex">
        <div>
            <div><b>Welcome to the dashboard!</b><br> This is your personalized dashboard based on your role in the company! Here your profile is displayed.</div>
            <div *ngIf="!hasRole()"><br>Since you do not have a role, an administrator will assign your role shortly!</div>
        </div>
    </mat-card>
</div>

<br>

<!-- User profile Card-->
<div>
    <mat-card fxFlex="fxFlex">
        <h3>User profile</h3>
        <ul>
            <li>Username: <b>{{this.currentUser.userName}}</b></li>
        </ul>
        <ul>
            <li>Name: <b>{{this.currentUser.firstname}} {{this.currentUser.lastname}}</b></li>
        </ul>
        <ul>
            <li>Role: 
                <b>
                    <span ngSwitch={{this.currentUser.role}} >
                        <span *ngSwitchCase="1">Admin</span>
                        <span *ngSwitchCase="2">Associate</span>
                        <span *ngSwitchCase="3">Supervisor</span>
                        <span *ngSwitchCase="4">Super</span>
                        <span *ngSwitchDefault>None</span>
                    </span>
                </b>
            </li>
        </ul>
    </mat-card>
</div>

<!-- <mat-divider></mat-divider><br>   -->
<br>



<!-- Super user -->
<div *ngIf="hasRoleID(4)">
    <mat-card fxFlex="fxFlex">
        <div>
            This is for super administrator
        </div>
    </mat-card>
</div>

<!-- <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
            <mat-card fxFlex="fxFlex">
                <app-widget-card></app-widget-card>
            </mat-card>
        </div>
    </div>
</div> -->