<div class="container">
    <p *ngIf="Employee.length <= 0" class="no-data text-center"> There are no employees</p>

    <table class = "table table-bordered" *ngIf="Employee.length > 0">
        <thead class="table-success">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of Employee; let i = index">
                <th scope="row">{{employee._id}}</th>
                <td>{{employee.username}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.image}}</td>
                <td class="text-center edit-block">
                    <span class="edit" [routerLink]="['/#/edit-employee/', employee._id]">
                      <button type="button" class="btn btn-success btn-sm">Edit</button>
                    </span>
                    <span class="delete" (click)="removeUser(employee._id)">
                      <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>