h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}
h3 {
    display: block;
    margin: 0px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

form {
    /* padding: 20px; */
    padding-top: 0px;
}

span {
    padding-left: 4px;
}

.image {
    padding-left: 0px;
}

.form{
    padding: 20px;
    padding-bottom: 0px;
}

.header {
    background-color: black;
}

.content {
    height: auto;
}

.chips {
    padding: 0px;
    padding-bottom: 8px;
}

.chip {
    margin: 8px;
    margin-left: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
    padding-top: px;
    padding-bottom: 4px;
}

.roles {
    padding-top: 4px;
}

.user {
    /* padding-top: 8px; */
    padding-bottom: 8px;
}

.row {
    /* padding-left: 8px; */
    margin: 0px;
}

.mat-card {
    height: 100%;
}

@media (max-width: 1279px) {
    .mat-card {
        height: 100%;
    }
}