h3 {
    display: block;
    margin: 0px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

form {
    padding: 20px;
    padding-top: 0px;
}

span {
    padding-left: 4px;
}

.form{
    padding: 20px;
    padding-bottom: 0px;
}

.header {
    background-color: black;
}

.content {
    height: auto;
}

.container {
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.row {
    /* padding-left: 8px; */
    margin: 0px;
}

.mat-card {
    height: 100%;
}

@media (max-width: 1279px) {
    .mat-card {
        height: 100%;
    }
}